{% from 'bootstrap5/form.html' import render_form %}
<html>
<head>
{{ bootstrap.load_css() }}
    <title>Coffee decider</title>
</head>
<body>

<div class="container">
    <h1>Who's paying for coffee today?</h1>

    {% if drinkers %}
    {{ render_form(purchase_form) }}
    {% endif %}

    {% if message %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
    {% endif %}

    <hr/>

    <h3>Saved coffee drinkers</h3>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>Drink</td>
            <td>Cost</td>
            <td>Times drink ordered</td>
            <td>Amount my drinks have cost</td>
            <td>Amount paid so far</td>
        </tr>
    {% for drinker in drinkers %}
        <tr>
            <td>{{ drinker.name }}</td>
            <td>{{ drinker.drink_name }}</td>
            <td>{{ "${:,.2f}".format(drinker.drink_cost) }}</td>
            <td>{{ drinker.times_drink_ordered }}</td>
            <td>{{ "${:,.2f}".format(drinker.amount_drinks_cost_so_far()) }}</td>
            <td>{{ "${:,.2f}".format(drinker.amount_paid_so_far) }}</td>
        </tr>
    {% endfor %}
    </table>

    <hr/>

    <h3>Add a coffee drinker</h3>
    {{ render_form(drinker_form) }}

    {% if drinkers %}
    <hr/>
    <h3>Remove a coffee drinker</h3>
    {{ render_form(clear_form) }}
    {% endif %}
</div>

{{ bootstrap.load_js() }}
</body>
</html>